<div class="column">
  {{#each this}}
  <div class="card">
    <h4 class="card-header"></h4>
    <section class="card-body comment-render">
      <div>
        {{comment}}
      </div>
      <div>
        Posted By: {{user.username}}<br>{{format_date post.date_created}}
      </div>
    </section>
    <button class="button mb-2 p-4 logout-btn" data-id="{{id}}" type="button" id="delete-comment">Delete
      Comment</button>
  </div>
  {{/each}}
</div>