<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Code Social</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <i class="fas fa-keyboard"></i>
          <p class="logo-navbar">CODE SOCIAL</p>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            {{#if logged_in}}
            <div class="buttons">
              <button class="button new-post-btn" id="newPostBtn">
                POST
                <i class="fas fa-pen-alt"></i>
              </button>
              <button class="button mb-2 p-4 logout-btn" type="button" id="logout">Logout</button>
            </div>
          </div>
        </div>
        <div class="modal new-post-modal" id="new-post-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <!-- Any other Bulma elements you want -->
            <form class="form new-post-form">
              <div class="form-group">
                <label for="post-title">Post Title:</label>
                <input class="form-input" type="text" id="post-name" name="post-title" />
              </div>

              <div class="form-group">
                <label for="post-content">Content:</label>
                <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
              </div>
              <div class="form-group">
                <label for="post-tags">Tags:</label><br>
                <input type="radio" id="category" name="category" value="Company Info">
                <label for="Company Info"> Company Info</label><br>
                <input type="radio" id="category" name="category" value="Interview Help">
                <label for="Interview Help"> Interview Help</label><br>
                <input type="radio" id="category" name="category" value="Networking">
                <label for="Networking"> Networking</label><br>
                <input type="radio" id="category" name="category" value="Front-End">
                <label for="Front-End"> Front-End</label><br>
                <input type="radio" id="category" name="category" value="Back-End">
                <label for="Back-End"> Back-End</label><br>
              </div>
              <div class="form-group post-icon">
                <button type="submit" class="btn post-btn">Post</button>
              </div>
            </form>
          </div>
          <button class="modal-close-btn is-large" aria-label="close"></button>
        </div>

        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </div>
    </div>
  </nav>
  {{{body}}}
</body>
{{#if logged_in}}
<script src="/js/newPost.js"></script>
<script src="/js/logout.js"></script>
{{/if}}

</html>