<section>
    <div class="columns">
        <div class="column is-one-fifth has-text-left pt-6">
            <div class="side-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a>Users</a></li>
                    <li><a>Recent Posts</a></li>
                    <li><a>Posts by Tags</a></li>
                    <li><a>Top Posts</a></li>
                    <li><a href="/analytics">Industry Data</a></li>
                </ul>
            </div>
        </div>
        <div class="column is-four-fifths charts-column">
            <p class="title posts-header">Industry Data</p>
            <div>
                <canvas heigh="200px" id="MyChart2"></canvas>
            </div>
            <br>
            <div>
                <canvas heigh="200px" id="MyChart"></canvas>
            </div>
            <br>
            <div>
                <canvas heigh="200px" id="MyChart3"></canvas>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/charts.js"></script>
</section>