<div class="columns">
  <div class="column is-one-fifth has-text-left">
    <div class="side-nav">
      <ul>
        <li><a href="./index-test.html">Home</a></li>
        <li><a>Users</a></li>
        <li><a>Recent Posts</a></li>
        <li><a>Posts by Tags</a></li>
        <li><a>Top Posts</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-two-fifths posts-column">
    <p class="title posts-header">Your Posts</p>
  </div>
  <div class="column is-two-fifths has-text-centered jobs-column">
    <div class="card is-centered job-card">
      <div class="card-content">
        <div class="media jobs-media">
          <div class="media-content job-titles">
            <p class="title is-8 job-title">Job Title</p>
            <p class="subtitle is-8 company-name">Company</p>
          </div>
        </div>
        <div class="content jobs-content">
          <ul class="job-info">
            <li>Date Posted</li>
            <li>Salary</li>
            <li>Date Posted</li>
          </ul>
          <br />
          <a href="#">#tags</a> <a href="#">#tags</a>
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
        <button class="apply-btn">Apply</button>
      </div>
    </div>
  </div>


</div>