<!-- Loop over each object in the projects array -->
<div class="columns pt-5">
  <div class="column is-one-fifth is-three-quarters-mobile pt-5">
    <div class="side-nav">
      <ul id="nav-links">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a>Users</a></li>
        <li><a>Recent Posts</a></li>
        <li><a>Posts by Tags</a></li>
        <li><a>Top Posts</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-four-fifths">
    {{#each posts as |post| }}
    {{>posts post}}
    {{/each}}

  </div>
</div>