<!-- Loop over each object in the projects array -->

<div class="columns pt-5">
  <div class="column is-three-fifths mt-2">
    {{#each posts as |post| }}
    {{>posts post}}
    {{/each}}
  </div>
  <div class="column is-two-fifths has-text-centered jobs-column">
    <div class="card is-centered job-card" id="jobs">

    </div>

  </div>

  <script src="/js/jobs.js"></script>
</div>