<section class="hero hero-landing is-fullheight">
  <div class="hero-body">
    <div class="container">
      <p class="title landing-title has-text-centered">
        Welcome to CODE SOCIAL
      </p>
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <p class="email-login">Login</p>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required />
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required />
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox" />
                Remember me
              </label>
            </div>
            <div class="field">
              <button class="button is-success">Login</button>
            </div>
          </form>
        </div>

        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <p class="signup">Sign Up</p>
            <div class="field">
              <label for="" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="name" placeholder="e.g. BeardoMattix" class="input" required />
                <span class="icon is-small is-left">
                  <i class="fa fa-pen"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required />
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required />
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <button class="button is-success">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>