body {
  background-color: #2A363B;
  margin-top: 7%;
  width: 100%;
  
}
main {
  background-color: #2A363B;
  width: 100vw;
  margin-top: 80px; /* Add a top margin to avoid content overlay */
}
.footer {
  background-color: #2A363B;
  color: #99B898;
  border-top: 2px solid #b1d6c0;
  font-weight: bolder;
  height: 10%;
  margin-bottom: -10px;
}

.fa-keyboard {
  margin-top: 20px;
  padding: 10px;
  font-size: 2.5rem;
  color: #2A363B;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
}

.logo-navbar {
  margin-top: 20px;
  font-size: 2.5rem;
  padding-right: 10px;
  color: #2A363B;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
  font-weight: bold;
}
.navbar {
  overflow: hidden;
  background-color: #99B898;
  background-image: linear-gradient(to right, #99B898, #2A363B);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 2px solid #2A363B;
}
.navbar-item {
  color: #FF847C;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
}

.hero {
  background-color: #2A363B;
  margin-top: 10px;
  width: 100vw;
}
.hero-landing {
  background-color: #2A363B;
}
.main-page-columns {
  margin-top: 10%;
}
.card {
  border: 2px double #2A363B;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
}
.logout-btn {
  background-color: #E84A5F;
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 1px black;
}
.landing-title {
  color: #E84A5F;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
  font-size: 3rem;
}
.landing-subtitle {
  color: #E84A5F;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
  font-size: 2rem;
  font-style: italic;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.dashboard {
  color: #FECEAB;
  font-weight: bold;
  padding: 5px;
}
a.dashboard:hover {
  background-color: #FECEAB;
  color: #2A363B;
  font-weight: bolder;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 2px #FF847C;
}
.home {
  color: #FECEAB;
  font-weight: bold;
  padding: 5px;
  height: 50%;
  margin-top: 30%;
  margin-left: 5px;
}
a.home:hover {
  background-color: #FECEAB;
  color: #2A363B;
  font-weight: bolder;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 2px #FF847C;
}
.column {
  text-align: center;
  margin-top: 0;
}

.side-nav {
  position: fixed;
  font-size: 1.5rem;
  margin-left: 40px;
  padding: 0;
  text-align: left;
}
.dash-card {
  display: block;
}
.dashboard-main {
  background-color: #2A363B;
  padding-left: 5px;
  padding-right: 5px;
}
.posts-column {
  background-color: #99b898ab;
  height: 100vh;
  /* padding-top: 5%; */
  margin-top: 20px;
  /* margin-left: 25px; */
  border-left: 3px solid #2A363B;
  border-right: 3px solid #2A363B;
  border-bottom: 3px solid #2A363B;
}
.charts-column {
  background-color: #2A363B;
  height: fit-content;
  /* padding-top: 10%; */
  /* margin-top: -38px; */
  /* margin-left: 25px; */
  border-left: 3px solid #2A363B;
  border-right: 3px solid #2A363B;
  border-bottom: 3px solid #2A363B;
}
.posts-header {
  color: #2A363B;
  font-size: 3rem;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
}
#charts-header {
  color: #99B898;
  font-size: 3rem;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
}
canvas {
  background-color: snow;
  padding: 10px;
  border: 2px solid #E84A5F;
  border-radius: 8px;
}
ul {
  list-style-type: square;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  padding-right: 20px;
}
li:hover {
  color: #E84A5F;
}
.new-post-btn {
  background-color: #FECEAB;
  color: #2A363B;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 2px 1px black;
}
.new-post-main {
  background-color: #e2b968;
  color: white;
  margin-bottom: 12px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.jobs-column {
  /* margin-right: auto; */
  background-color: #2A363B;
  /* padding: 10px; */
}
#jobs {
  margin-top: auto;
  background-color: #2A363B;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin-right: 50px;
  border-left: 2px solid #99B898;
  border-right: 2px solid #99B898;
  border-radius: 10px;
}
.jobs-content{
  background-color: #2A363B;
  padding: 5px;
  border-radius: 5px;
}
.job-stlye {
  border-top: 2px solid #99B898;
}
.jobs-media {
  background-color: #2A363B;
  padding-top: 10px;
  margin: -10px;
  border: 2px solid #E84A5F;
  border-radius: 8px;
}
.job-title {
  color: white;
}
#job-info {
  color: white;
  text-shadow: 1px 2px 3px black;
}
.job-info:hover {
  color: white;
}
.company-name {
  color: white;
}
#date-posted {
  color: white;
  font-weight: bold;
}
.apply-btn {
  padding: 5px;
  color: #2A363B;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.801);
  background-color: #99B898;
  border-radius: 8px;
  width: 100%;
}
.fas-pen-alt {
  margin: auto;
}
.job-info {
  text-align: left;
  list-style-type: disc;
  color: black;
  text-shadow: 0 0 0;
}
.login {
  font-size: 2rem;
  font-weight: bold;
}
.signup {
  font-size: 2rem;
  font-weight: bold;
}
.new-post-form {
  background-color: #2A363B;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  text-align: center;
}
label {
  color: white;
  font-weight: bolder;
}
.post-btn {
  font-weight: bolder;
  width: 100%;
  margin: auto;
  color: white;
  background-color: #E84A5F;
}
@media only screen and (max-width: 576px) {
  .navbar {
    width: 100%;
    height: 15%;
    margin-bottom: 10%;
  }
   .posts-column {
    display: block;
    width: 100%;
    padding: 35px;
    /* margin-top: 15%; */
  }
   .jobs-column {
    display: block;
    width: 100%;
    padding: 35px;
    /* margin: auto; */
  }
  .side-nav {
    display: none;
    font-size: 10px;
    margin-top: 10%;
    text-align: left;
  }
  ul {
    list-style-type: none;
  }
 
  .logo-navbar {
    margin-top: 20px;
    font-size: 2.5rem;
    padding-right: 10px;
    color: #2A363B;
    text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
      -1px 0 0 #000;
    font-weight: bold;
  }
  .charts-column {
    padding-top: 15%;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 15%;
  }
  .mobile-nav {
    visibility: visible;
    
  }
   .posts-column {
    display: block;
    width: 75%;
    padding: 35px;
    margin: auto;
  }
   .jobs-column {
    display: block;
    height: fit-content;
    width: 100%;
    padding: 35px;
    margin: auto;
  }
  .side-nav {
    visibility: hidden;
    font-size: 20px;
    margin-top: 10%;
    text-align: left;
  }
  #nav-links {
    font-size: 20px;
  }
  ul {
    list-style-type: none;
  }
  
  .logo-navbar {
    margin-top: 20px;
    font-size: 2.5rem;
    padding-right: 10px;
    color: #2A363B;
    text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
      -1px 0 0 #000;
    font-weight: bold;
  }
}
@media only screen and (max-width: 998px) {
  .navbar {
    width: 100%;
    height: 20%;
    margin-bottom: 200px;;
  }
  .dropdown-menu {
    visibility: hidden;
  }
  .navbar-brand {
    display: flex;
  }
   .posts-column {
    display: block;
    width: 100%;
    padding: 35px;
    margin-top: 10%;
    
  }
   .jobs-column {
    display: block;
    width: 100%;
    padding: 35px;
    margin-top: 5%;
  }
  
  .side-nav {
    visibility: hidden;
    font-size: 20px;
    margin-top: 10%;
    text-align: left;
  }
  #nav-links {
    font-size: 1rem;
  }
  ul {
    list-style-type: none;
    padding-right: 20px;
    font-size: 1.5rem;
  }
  .logo-navbar {
    margin-top: 20px;
    font-size: 2.5rem;
    padding-right: 10px;
    color: #2A363B;
    text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
      -1px 0 0 #000;
    font-weight: bold;
  }
}
@media only screen and (max-width: 2000px) {
  .dropdown-menu {
    visibility: hidden;
  }
}
#comment-text{
  color: black;
}

.vote {
  margin: 0;
}
