main {
  margin-top: 80px; /* Add a top margin to avoid content overlay */
}
.footer {
  background-color: #a26360;
  border-top: 2px solid #b1d6c0;
}

.fa-keyboard {
  margin-top: 20px;
  padding: 10px;
  font-size: 2.5rem;
  color: #b1d6c0;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
}

.logo-navbar {
  margin-top: 20px;
  font-size: 2.5rem;
  padding-right: 10px;
  color: #b1d6c0;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
  font-weight: bold;
}

.hero-head {
  background-color: #a26360;
  z-index: 7;
  border-bottom: 4px solid #b1d6c0;
}
.navbar {
  overflow: hidden;
  background-color: #a26360;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 2px solid #b1d6c0;
}
.navbar-item {
  color: #c0e2cd;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
}

.hero {
  background-color: #e8b298;
  margin-top: 10px;
}
.hero-landing {
  background-color: #a26360;
}
.main-page-columns {
  margin-top: 10%;
}
.card {
  border: 2px double #a26360;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
}
.logout-btn {
  background-color: #c0e2cd;
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 1px black;
}
.landing-title {
  color: #b1d6c0;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
  font-size: 3rem;
}
.landing-subtitle {
  color: #b1d6c0;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;
  font-size: 2rem;
  font-style: italic;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.dashboard {
  color: #b1d6c0;
  font-weight: bold;
  padding: 5px;
}
a.dashboard:hover {
  background-color: #bdd1c5;
  color: #9c4d49;
  font-weight: bolder;
  border: 2px solid white;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.home {
  color: #b1d6c0;
  font-weight: bold;
  padding: 5px;
}
a.home:hover {
  background-color: #bdd1c5;
  color: #9c4d49;
  font-weight: bolder;
  border: 2px solid white;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.column {
  text-align: center;
  margin-top: 0;
}

.side-nav {
  font-size: 1.5rem;
  margin-right: 3%;
}
.dash-card {
  display: block;
}
.dashboard-main {
  background-color: #e8b298;
  padding-left: 5px;
  padding-right: 5px;
}
.posts-column {
  background-color: #e2b968;
  height: 100vh;
  padding-top: 5%;
  margin-top: -38px;
  border-left: 3px solid #a26360;
  border-right: 3px solid #a26360;
  border-bottom: 3px solid #a26360;
}
.posts-header {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}
ul {
  list-style-type: square;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding-right: 20px;
}
li:hover {
  color: #bdd1c5;
}
.new-post-btn {
  background-color: #e2b968;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
.new-post-main {
  background-color: #e2b968;
  color: white;
  margin-bottom: 12px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.jobs-column {
  margin-left: 3%;
}
.job-card {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.jobs-media {
  background-color: #a26360;
  padding-top: 10px;
  margin: -10px;
  border: 2px double #e2b968;
  border-radius: 8px;
}
.job-title {
  color: white;
}
.company-name {
  color: white;
}
.apply-btn {
  padding: 5px;
  color: #e2b968;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #7d8985;
  border-radius: 8px;
  width: 100%;
}
.fas-pen-alt {
  margin: auto;
}
.job-info {
  text-align: left;
  list-style-type: disc;
  color: black;
  text-shadow: 0 0 0;
}
.login {
  font-size: 2rem;
  font-weight: bold;
}
.signup {
  font-size: 2rem;
  font-weight: bold;
}
